
@{
    ViewBag.Title = "Publish";
}

<h2>Publish</h2>

<textarea id="TextArea1" rows="20" cols="2000"></textarea>
<br /><br />
<label>Category</label>
<select id="Select1">
    <option>History</option>
    <option>Geography</option>
</select>
<form action="/User/New">
    <input type="submit" value="Publish" />
</form>